<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Admin</h1>
            <h2>Users</h2>

            <div class="table table-responsive">
                <table class="table table-striped">
                    <tr class="active">
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Username</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Password</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Role</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Actions</th>
                    </tr>
                    <tr>
                        <td> <input type="text" class="form-control" ng-model="person.username" placeholder="username"> </td>
                        <td> <input type="password" class="form-control" ng-model="person.password" placeholder="password"> </td>
                        <td> <input type="text" class="form-control" ng-model="person.roles" placeholder="role1, role2"> </td>

                        <td> <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addUser(person)">
                                <span class="glyphicon glyphicon-plus"></span></button>
                             <button type="button" class="btn btn-default" aria-label="Right Align" ng-click="updateUser(person)">
                                <span class="glyphicon glyphicon-ok"></span></button>
                        </td>
                    </tr>
                    <tr ng-repeat="person in users">
                        <td>{{person.username}}</td>
                        <td>{{person.password}}</td>
                        <td>{{person.roles}}</td>
                        <td>
                            <button ng-click="deleteUser(person)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span></button>
                            <button ng-click="selectUser(person)" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </table>
                <li ng-repeat="person in users">
                    <a href="#/profile/{{}}">{{person.username}}</a>
                </li>
                {{users}}

            </div>
        </div>
    </div>
</div>

