<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Admin</h1>
            <h2>Users</h2>

            <div class="table table-responsive">
                <table class="table table-striped">
                    <tr class="active">
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Username</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Password</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Role</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Actions</th>
                    </tr>
                    <tr>
                        <td> <input type="text" class="form-control" id="inputUsername" placeholder="Username"> </td>
                        <td> <input type="password" class="form-control" id="password" placeholder="Password"> </td>
                        <td> <input type="text" class="form-control" id="role" placeholder="role1, role2"> </td>
                        <td> <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus"></span></button>
                             <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-ok"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td> Alice </td>
                        <td>  </td>
                        <td> Student </td>
                        <td><button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove"></span></button>
                        <button type="button" class="btn btn-default" aria-label="Right Align">
                            <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>

                    </tr>
                    <tr>
                        <td> Bob </td>
                        <td>  </td>
                        <td> Faculty | Admin </td>
                        <td><button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>

                    </tr>
                    <tr>
                        <td> Charlie </td>
                        <td>  </td>
                        <td>  </td>
                        <td><button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

