<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forms: Registration Form</title> <!-- is on for the tab in the window -->
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms: Registration Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/form/:formId/fields">Fields</a></li>
            </ul>
            <div class="tab-pane active" id="field">
            <form role="form">
                <div class="form-group" id="tbody-sortable" form-sortable form-axis="y">
                    <div ng-repeat="field in fields">
                        <label class="control-label col-md-10">{{field.label}}:</label>
                        <div class="col-md-9">
                            <div class="animate-switch-container" ng-switch on="field.type">
                                <div class="animate-switch" ng-switch-when="TEXT">
                                    <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                                </div>
                                <div class="animate-switch" ng-switch-when="TEXTAREA">
                                    <input type="text" class="form-control" placeholder={{field.placeholder}}>
                                </div>

                                <div class="animate-switch" ng-switch-when="EMAIL">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>

                                <div class="animate-switch" ng-switch-when="DATE">
                                    <input type="date" ng-model="field.date" class="form-control" placeholder="Select Date">
                                </div>

                                <div class="animate-switch" ng-switch-when="CHECKBOXES">
                                    <div class="checkbox" ng-repeat="option in field.options">
                                        <label><input type="checkbox" ng-model="option">{{option.label}}</label>
                                    </div>
                                </div>
                                <div class="animate-switch" ng-switch-when="OPTIONS">
                                    <select class="form-control">
                                        <option ng-repeat="option in field.options">{{option.label}}</option>
                                    </select>
                                </div>
                                <div class="animate-switch" ng-switch-when="RADIOS">
                                    <div class="radio" ng-repeat="option in field.options">
                                        <label ><input type="radio">{{option.label}}</label>
                                        <br>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <ul class="col-md-3">
                            <button type="button" ng-click="editField(field)" class="btn btn-warning"><li class="glyphicon glyphicon-pencil pull-right"></li></button>
                            <button type="button" ng-click="addFieldInfo(field)" class="btn btn-primary"><li class="glyphicon glyphicon-plus pull-right"></li></button>
                            <button type="button" ng-click="deleteField(field)" class="btn btn-danger"><li class="glyphicon glyphicon-remove pull-right"></li></button>
                            <button type="button" ng-click="" class="btn btn-success"><li class="glyphicon glyphicon-align-justify pull-right"></li></button>
                        </ul>
                    </div>
                </div>
            </form>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="dialog-1" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>{{field.type}}</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div >
                                <label class="control-label">Label</label>
                                <input type="text" class="form-control" ng-model="newfield.label">
                                <label class="control-label">Placeholder</label>
                                <input type="text" class="form-control" ng-model="newfield.placeholder">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal" ng-click="updateField(field, newfield)"><span class="glyphicon glyphicon-okay"></span> ok</button>
                        </div>
                    </div>

                </div>
            </div>



            <div class="modal fade" id="dialog-2" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>{{field.type}}</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div >
                                <label class="control-label">Label</label>
                                <input type="text" class="form-control" ng-model="newField.label">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal" ng-click="updateField(field, newField)"><span class="glyphicon glyphicon-okay"></span> ok</button>

                        </div>
                    </div>

                </div>
            </div>


            <div class="modal fade" id="dialog-3" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>{{field.type}}</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div>
                                <label class="control-label">Label</label>
                                <input type="text" class="form-control" ng-model="selectedField.label" >
                                <label class="control-label">Options</label>
                                <textarea class="form-control" rows="5" ng-model="selectedField.options">
                                    1.These can be enter in a textarea,one option per line2.You can use the following format: LABEL:VALUE
                                </textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal" ng-click="updateField(field, selectedField)"><span class="glyphicon glyphicon-okay"></span> ok</button>

                        </div>
                    </div>

                </div>
            </div>

            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

            <label class="control-label col-md-10">Add New Field:</label>
            <div class="col-md-9">
                <select class="form-control" ng-model="type">
                    <option>Single Line Text Field</option>
                    <option>Multi Line Text Field</option>
                    <option>Date Field</option>
                    <option>Dropdown Field</option>
                    <option>Checkboxes Field</option>
                    <option>Radio Buttons Field</option>
                </select>
            </div>
            <ul class="col-md-3">
                <button type="button" class="btn btn-primary" ng-click="addField(type)" aria-label="Right Align">
                    <span class="glyphicon glyphicon-plus"></span></button>
            </ul>
        </div>
    </div>
</div>
</html>

