<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forms</title> <!-- is on for the tab in the window -->
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
                <li role="presentation" ><a href="#/form/{{form._id}}/fields">Fields</a></li>
            </ul>

            <div class="table table-responsive">
                <table class="table table-striped">
                    <tr class="active">
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Form Name</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
                    </tr>
                    <tr>
                        <td> <input type="text" class="form-control" ng-model="form.title" placeholder="Form Name"> </td>
                        <td> <button type="button" class="btn btn-default" ng-click="addForm(form)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-plus"></span></button>
                            <button type="button" class="btn btn-default" aria-label="Right Align" ng-click="updateForm(form)">
                                <span class="glyphicon glyphicon-ok"></span></button>
                        </td>
                    </tr>

                    <tr ng-repeat="form in forms">
                        <td>{{form.title}}</td>
                        <td>
                            <button ng-click="deleteForm(form)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span></button>
                            <button ng-click="selectForm(form)" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</html>

