<!DOCTYPE html>
<html lang="en" ng-app="whiteBoardApp">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel = "stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="course.service.js"></script>
    <title>Courses</title>
</head>
<body>
<h1 class="page-header">Courses</h1>
<div class="container" ng-controller="CourseController">
    <table class="table table-stripped">
        <thread>
            <tr>
                <th>Title</th>
                <th>Seats</th>
                <th>Start</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input ng-model="course.title" class="form-control">
                </td>
                <td>
                    <input ng-model="course.seats" class="form-control">
                </td>
                <td>
                    <input ng-model="course.start" class="form-control">
                </td>
                <td>
                    <button ng-click="createCourse(course)" class="btn btn-primary">Add</button>
                    <button ng-show="course" ng-click="updateCourse(course)" class="btn btn-success">Update</button>
                </td>
            </tr>
        </thread>
        <tbody>
            <tr ng-class="{'success': $index == selectedCourseIndex}" ng-click="selectCourse($index)" ng-repeat="cour in courses">
                <td>{{cour.title}}</td>
                <td>{{cour.seats}}</td>
                <td>{{cour.start | date:'short'}}</td>
                <td>
                    <button ng-click = "removeCourse($index)"class="btn btn-danger">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>