<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Admin</h1>
            <h2>Users</h2>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-md-3">
                        <span class="glyphicon glyphicon-triangle-bottom" ng-click="sortAscending('username','descending')"></span>
                        <span class="glyphicon glyphicon-triangle-top" ng-click="sortAscending('username','ascending')"></span>
                        Username</th>

                    <th class="col-md-2">
                        Password</th>

                    <th class="col-md-2">
                        <span class="glyphicon glyphicon-triangle-bottom" ng-click="sortAscending('firstName','descending')"></span>
                        <span class="glyphicon glyphicon-triangle-top" ng-click="sortAscending('firstName','ascending')"></span>
                        FirstName</th>

                    <th class="col-md-2">
                        <span class="glyphicon glyphicon-triangle-bottom" ng-click="sortAscending('lastName','descending')"></span>
                        <span class="glyphicon glyphicon-triangle-top" ng-click="sortAscending('lastName','ascending')"></span>
                        LastName</th>

                    <th class="col-md-2">
                        Phones</th>

                    <th class="col-md-2">
                        Email</th>

                    <th class="col-md-3">Roles</th>
                    <th class="col-md-2">
                        Action</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ><input class="form-control"  type="text" placeholder="username" ng-model="newUser.username"></td>
                    <td ><input class="form-control"  type="text" placeholder="password" ng-model="newUser.password"></td>
                    <td ><input class="form-control"  type="text" placeholder="firstName" ng-model="newUser.firstName"></td>
                    <td ><input class="form-control"  type="text" placeholder="lastName" ng-model="newUser.lastName"></td>
                    <td ><input class="form-control"  type="text" placeholder="phone" ng-model="newUser.phones"></td>
                    <td ><input class="form-control"  type="text" placeholder="email" ng-model="newUser.email"></td>
                    <td ><input class="form-control"  type="text" placeholder="role1,role2" ng-model="newUser.roles"></td>
                    <td >
                        <button type="button" class="btn btn-default" aria-label="glyphicon-remove">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addUser(newUser)"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="glyphicon-ok" >
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="updateUser(newUser)"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat = "user in users">
                    <td>{{user.username}}</td>
                    <td></td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.phones}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles}}</td>

                    <td>
                        <button type="button" class="btn btn-default" aria-label="glyphicon-remove" ng-click="deleteUser(user)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="glyphicon-pencil"  ng-click="selectUser(user)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

